ion-content{
    background: url(../../assets/imgs/cake.jpg);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    
     p{
    text-align: center;
     }
}
h2{
    text-align: center;
}
h1{
    text-align: center;
}